/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

* {
  box-sizing: border-box;
}


.m-right{
margin-right: 15px;
}
.board{
  margin-top: 30px;
  background-image: url("./assets/images/julian-timmerman-Fn27DlI8bZ8-unsplash\ 1.png");
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.text-overflow{
  overflow : hidden;
  text-overflow: ellipsis;
  white-space : nowrap;
}

.hot-city-height-1{
  height: 220px;
}

.hot-city-height-2{
  height: 100px;
}

.hot-city-1{
  background-image: url("./assets/images/unsplash_qhu2nFWqVEU.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hot-city-2{
  background-image: url("./assets/images/unsplash_WWUQyFn65ek.png");
  background-repeat: no-repeat;
  background-position: center;
}
.hot-city-3{
  background-image: url("./assets/images/unsplash_0clJTXtgsIY.png");
  background-repeat: no-repeat;
  background-position: center;
}
.hot-city-4{
  background-image: url("./assets/images/unsplash_XPWYOlfgUgw.png");
  background-repeat: no-repeat;
  background-position: center;
}
.hot-city-5{
  background-image: url("./assets/images/unsplash_D6Bk1A3-gMA.png");
  background-repeat: no-repeat;
  background-position: center;
}
.hot-city-6{
  background-image: url("./assets/images/unsplash_0gqcBEe2rv8.png");
  background-repeat: no-repeat;
  background-position: center;
}
.hot-city-7{
  background-image: url("./assets/images/unsplash_RpZxHPikR6A.png");
  background-repeat: no-repeat;
  background-position: center;
}
